* {
  box-sizing: border-box;
  @include prefixer(transition, var(--time-transition));
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 32px;
}
body {
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden; /* We will reset it to auto after loading  */
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--c-mode);
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-main);
}
::selection {
  background-color: var(--c-reverse);
  color: var(--c-main);
}
a {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--c-reverse);
}
ul,
ol {
  margin: 0;
  list-style: none;
}
input,
textarea {
  border: none;
  outline: none;
  @include prefixer(transition, var(--time-transition));
  &::placeholder {
    @include prefixer(transition, 0.3s);
  }
  &:focus::placeholder {
    @include opacity(0);
  }

  &.form-control:focus {
    border-color: var(--c-main);
    box-shadow: 0 0 0 0.25rem var(--c-transparent-main);
  }

}
textarea {
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jaini", system-ui;
}
section {
  background-color: var(--c-bg-main);
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.primary-text {
  color: var(--c-main);
}
.mode-text {
  color: var(--c-mode);
}
.reverse-text {
  color: var(--c-reverse);
}
.form-select:disabled {
  background-color: #777;
}