.links-holder {
  @include breakpoints(#{$max-lg}) {
    padding: 0;

    .my-circle {
      background-color: var(--c-mode);
      width: 40px;
      height: 40px;
      box-shadow: 0 1px 1px var(--c-shadow-mode);
      border: 1px solid transparent;
      @include prefixer(border-radius, 50%);
      @include centering;
      position: absolute;
      @include center;
      color: var(--c-main);
      cursor: pointer;
      z-index: 998;

      a {
        display: none;
      }

      &[data-distance] {
        transform-origin: 0;
        @include prefixer(transform, scale(0));
        transition-delay: calc(0.075s * var(--rotate));
        svg {
          @include prefixer(
            transform,
            rotate(calc(360deg / 9.5 * var(--rotate)))
          );
        }
      }

      &.links-btn::after {
        content: "";
        background-color: transparent;
        @include prefixer(border-radius, 50%);
        position: absolute;
        @include set-position(0, 0, 0, 0);
      }

      &:hover {
        box-shadow: 0 1px 1px var(--c-shadow-mode),
          0 0 6px 0 var(--c-transparent-main) inset;
        svg {
          @include prefixer(
            transform,
            translateY(3px) rotate(calc(360deg / 9.5 * var(--rotate)))
          );
        }
      }

      &.active {
        border: 1px solid var(--c-main);
      }

      &.links-btn.active {
        & ~ [data-distance="near"] {
          @include prefixer(
            transform,
            scale(1) rotate(calc(360deg / -9.5 * var(--rotate))) translateX(80px)
          );
        }

        & ~ [data-distance="long"] {
          @include prefixer(
            transform,
            scale(1) rotate(calc(360deg / -9.5 * var(--rotate)))
              translateX(120px)
          );
        }
      }
    }
  }
}
