footer {
  background-color: var(--c-main);
  text-align: center;
  padding: 10px 0;

  h1 {
    margin: 0;
    font-size: 18px;
    color: var(--c-mode);

    span {
      color: var(--c-reverse);
    }
  }
}
